.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:auto;

}
.numbers span{
    text-align: center;
}
.btn button{
    width: 80px;
    height: 30px;
    margin: 20px;
}